* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a1930;
  font-family: "Anonymous Pro", monospace;
  overscroll-behavior-y: none;
}

.mouse {
  content: "";
  position: fixed;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px outset #8892af;
  animation: rotation-mouse 3s linear infinite;
  z-index: 5;
  pointer-events: none;
}

@keyframes rotation-mouse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-div {
}

.loading-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #0a1930;
}

.nav-start {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: end;
}

.start-lang-btn {
  color: #1ec8c0;
  display: flex;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.fr-start {
  text-decoration: none;
  color: #c01ec8;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 2.5px solid #c01ec8;
  border-radius: 7px;
  transition: all 0.75s ease;
  cursor: pointer;
  margin: 0 0 0 1.5rem;
}

.fr-start:hover {
  color: #0a1930;
  background-color: #c01ec8;
}

.en-start {
  text-decoration: none;
  color: #1ec8c0;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 2.5px solid #1ec8c0;
  border-radius: 7px;
  transition: all 0.75s ease;
  cursor: pointer;
  margin: 0 5rem 0 1.5rem;
}

.en-start:hover {
  color: #0a1930;
  background-color: #1ec8c0;
}

.loading-n {
  height: 100vh;
  width: 100vw;
}

.h1-n {
  font-size: 12rem;
  color: #1ec8c0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
  display: none;
}

.span-n {
  font-size: 10rem;
  color: #1ec8c0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.sub-logo {
  color: #c01ec8;
  font-size: 1.5rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-bar-container {
  height: 3rem;
  border-radius: 15px;
  border: 4px solid white;
  width: 35rem;
  display: none;
}

.loading-bar {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: #1ec8c0;
}

.loading-bar-start {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: #1ec8c0;
  animation: load 3s normal forwards;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.first-page {
  width: 100vw;
  height: 440vh;
  overflow: hidden;
  background-image: url("./Images/bg-code.png");
  position: absolute;
  display: none;
}

.line-container {
  position: relative;
  top: 0;
  left: 0;
  width: fit-content;
  height: 440vh;
  text-align: center;
  overflow: hidden;
  margin: auto;
  z-index: 1;
  pointer-events: none;
  display: none;
}

svg {
  display: inline-block;
  height: 440vh;
}

@keyframes bg-load {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0.125;
  }
}

.nav {
  display: flex;
  height: 8rem;
  align-items: center;
  padding-top: 6rem;
}

.logo {
  width: 30%;
  animation: fromLeft 0.3s ease;
  animation-fill-mode: both;
  animation-delay: 1000ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  width: fit-content;
  height: fit-content;
  color: #22ddd5;
  font-size: 4rem;
  font-weight: 300;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-45px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.nav-links {
  width: 90%;
  z-index: 6;
}

.nav-links ul {
  display: flex;
  justify-content: right;
  margin-right: 5rem;
}

.li-animation {
  color: #1ec8c0;
  display: flex;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1;
  align-items: center;
}

.li-animation span {
  color: #c01ec8;
}

#home {
  animation: type 2s steps(8, end);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  text-decoration: none;
  color: #1ec8c0;
  transition: color 0.6s ease;
  margin-right: 3rem;
}

#home:hover,
#about:hover,
#skills:hover,
#projects:hover,
#contact:hover {
  color: #c01ec8;
}

#about {
  animation: type 2.25s steps(9, end);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  text-decoration: none;
  color: #1ec8c0;
  transition: color 0.6s ease;
  margin-right: 3rem;
}

#skills {
  animation: type 2.5s steps(10, end);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  text-decoration: none;
  color: #1ec8c0;
  transition: color 0.6s ease;
  margin-right: 3rem;
}

#projects {
  animation: type 3s steps(12, end);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  text-decoration: none;
  color: #1ec8c0;
  transition: color 0.6s ease;
  margin-right: 3rem;
}

#contact {
  animation: type 2.75s steps(11, end);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  text-decoration: none;
  color: #1ec8c0;
  transition: color 0.6s ease;
  margin-right: 2rem;
}

@keyframes type {
  from {
    width: 0;
  }
}

.fr-a {
  text-decoration: none;
  color: #c01ec8;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 2.5px solid #c01ec8;
  border-radius: 7px;
  margin-left: 1.5rem;
  transition: all 0.75s ease;
  margin-right: 1.5rem;
}

.fr-a:hover {
  color: #0a1930;
  background-color: #c01ec8;
}

.en-a {
  text-decoration: none;
  color: #1ec8c0;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 2.5px solid #1ec8c0;
  border-radius: 7px;
  transition: all 0.75s ease;
}

.en-a:hover {
  color: #0a1930;
  background-color: #1ec8c0;
}

.first-text-div {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-fill-mode: both;
  animation-delay: 2000ms;
}

.first-text-h3 {
  color: #38e1d9;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.first-text-name {
  color: #ccd6f5;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.first-text-h1 {
  color: #8892af;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.div-learn-more a {
  position: relative;
  top: 2rem;
  color: #c01ec8;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  border: 3px solid #c01ec8;
  border-radius: 7px;
  padding: 0.75rem 1.5rem;
  transition: color 0.4s ease;
  transition: background-color 0.9s ease;
  z-index: 6;
}

.div-learn-more a:hover {
  color: #0a1930;
  background-color: #c01ec8;
}

.skills-cont {
  display: flex;
  justify-content: end;
}

.skills-hidden {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30rem;
  opacity: 0;
}

.fade-in-element {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  animation: opacity 2.2s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skills-h1-box {
  position: relative;
  height: 8rem;
  width: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.skills-h1-box::before {
  content: "";
  position: absolute;
  width: 36rem;
  height: 4rem;
  background: radial-gradient(
    circle,
    #c01ec8 0%,
    #c01ec8 42%,
    #1ec8c0 58%,
    #1ec8c0 100%
  );
  animation: rotate 4s infinite linear;
}

.skills-h1-box::after {
  content: "";
  position: absolute;
  background-color: #0a1930;
  inset: 5px;
  border-radius: 1rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skills-h1 {
  color: #ccd6f5;
  font-size: 5rem;
  z-index: 1;
}

.span_ {
  position: absolute;
  color: #c01ec8;
}

.span_two {
  position: absolute;
}

.skills-text-cont {
  height: 35rem;
  width: 50%;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.skills-text {
  color: #ccd6f5;
  font-size: 3rem;
  text-align: right;
  line-height: 7rem;
}

.skills-bubbles-cont {
  display: flex;
  flex-direction: column;
}

.skills-rating-html .full:hover {
  background-color: #c01ec8;
}

.skills-rating-html {
  height: 3rem;
  width: 100%;
  display: flex;
  margin: 2rem;
}

.skills-rating-html .full {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #38e1d9;
  margin: 0 0.5rem;
  transition: all 1s ease;
  cursor: pointer;
}

.skills-rating-html .empty {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.skills-rating-css .full:hover {
  background-color: #c01ec8;
}

.skills-rating-css {
  height: 3rem;
  width: 100%;
  display: flex;
  margin: 2rem;
}

.skills-rating-css .full {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #38e1d9;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 1s ease;
}

.skills-rating-css .empty {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.skills-rating-js {
  height: 3rem;
  width: 100%;
  display: flex;
  margin: 2rem;
}

.skills-rating-js .full:hover {
  background-color: #c01ec8;
}

.skills-rating-js .full {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #38e1d9;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 1s ease;
}

.skills-rating-js .empty {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.skills-rating-ui {
  height: 3rem;
  width: 100%;
  display: flex;
  margin: 2rem;
}

.skills-rating-ui .full:hover {
  background-color: #c01ec8;
}

.skills-rating-ui .full {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #38e1d9;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 1s ease;
}

.skills-rating-ui .empty {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.skills-rating-adobe {
  height: 3rem;
  width: 100%;
  display: flex;
  margin: 2rem;
}

.skills-rating-adobe .full:hover {
  background-color: #c01ec8;
}

.skills-rating-adobe .full {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #38e1d9;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 1s ease;
}

.skills-rating-adobe .empty {
  border: 4px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.about-cont {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  opacity: 0;
  margin-top: 2rem;
}

.fade-in-about {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  animation: opacity 2.2s ease;
  margin-top: 2rem;
}

.memoji-div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.memoji {
  width: 20%;
  border-radius: 50%;
  border: #c01ec8 solid 2px;
  cursor: pointer;
  z-index: 6;
  transition: all 0.75s ease-in-out;
  margin-bottom: 2rem;
}

.memoji:hover {
  border: #1ec8c0 solid 2px;
  z-index: 6;
  transform: scale(1.075);
}

.about-h1-box {
  margin-bottom: 3rem;
  display: flex;
  width: 50%;
  justify-content: center;
}

.about-h1 {
  color: aliceblue;
  font-size: 5rem;
}

.span_three {
  position: absolute;
}

.about-p-box {
  display: flex;
  width: 50%;
  justify-content: center;
}

.about-p {
  color: aliceblue;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  line-height: 2rem;
}

.projects-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  z-index: 8;
  opacity: 0;
}

.fade-in-projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  z-index: 3;
  animation: opacity 2.2s ease;
}

.projects-title-box {
  align-items: center;
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 4rem 0;
}

.projects-title {
  color: aliceblue;
  font-size: 5rem;
}

.span_four {
  position: absolute;
}

.projects {
  display: inline-block;
  top: 50px;
  height: fit-content;
  width: 49.75%;
  align-items: center;
  justify-content: center;
}

.first-row {
  display: flex;
}

.project-one {
  height: 30rem;
  width: 30rem;
  margin: 1.25rem;
  border-radius: 7%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.project-two {
  height: 30rem;
  width: 30rem;
  margin: 1.25rem;
  border-radius: 7%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.sec-row {
  display: flex;
  justify-content: center;
}

.project-three {
  height: 25rem;
  width: 80%;
  margin: 1.25rem;
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#project-img-matante {
  height: 200%;
}

.zoom-in {
  animation: scale-projects 1s ease;
  cursor: pointer;
  scale: 1.05;
}

@keyframes scale-projects {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

.zoom-in-matante {
  animation: scale-projects 1.6s ease;
  cursor: pointer;
  scale: 1.05;
}

.project-img {
  cursor: pointer;
  animation: scale-projects-out 1s ease;
}

@keyframes scale-projects-out {
  0% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.contact-cont {
  display: flex;
  height: 70vh;
  width: 50%;
  justify-content: center;
  margin-top: 15rem;
  opacity: 0;
}

.fade-in-contact {
  display: flex;
  height: 70vh;
  width: 50%;
  justify-content: center;
  margin-top: 15rem;
  animation: opacity 2.2s ease;
}

.contact-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 4rem 0;
}

.contact-title {
  color: aliceblue;
  font-size: 5rem;
}

.span_five {
  position: absolute;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-cont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  text-align: center;
  border: 5px solid #8892af;
  border-radius: 1rem;
  padding: 50px;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

label .label-text {
  color: #8892af;
  cursor: text;
  font-size: 1.15rem;
  line-height: 30px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #1ec8c0;
  color: #1ec8c0;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 250px;
  font-family: "Anonymous Pro", monospace;
}

label input:focus {
  max-width: 100%;
  width: 400px;
}

label input:focus + .label-text {
  color: #1ec8c0;
  font-size: 1rem;
  margin-top: 10px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

label input:focus + .label-text + .label-text {
  color: #1ec8c0;
  font-size: 1rem;
  margin-top: 10px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

label input:valid + .label-text {
  font-size: 1rem;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

label input:valid + .label-text + .label-text {
  font-size: 1rem;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background: transparent;
  font-family: "Anonymous Pro", monospace;
  color: #c01ec8;
  border: 3px solid #c01ec8;
  font-size: 1.75rem;
  letter-spacing: 2px;
  padding: 15px 50px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 7px;
}

button:hover {
  color: #0a1930;
  background-color: #c01ec8;
}
